@charset "utf-8";
body{
    background-color: #101010;
}
header{
    background-color: #3F4448;
    height: 80px;
}
.header_list{
    width: 88%;
    margin: 0 auto;
}
.header_list--title{
    color: #FFFFFF;
    font-size: 30px;
    line-height: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
.main_contents{
    width: 80%;
    margin: 0 auto;
}
.main_contents--live{
    margin: 40px 30px; 
    width: 100%;
}
.main_contents--date{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin-top: 10px;
}
